* {
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #0f172a;
    border-radius: 0 0 10px 10px;
}
body {
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #334155;
}
.contenedor-principal {
    flex: 1;
}
.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 100%;
    padding: 0 10px;
    margin: 20px auto;
}
article {
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    min-height: 100px;
    height: auto;
    border: 2px solid #0a2049;
    border-radius: 15px;
    background-color: white;
    padding: 15px 20px;
}
form{
    display: flex;
    flex-direction: column;
    border: 2px solid #0a2049;
    border-radius: 15px;
    background-color: white;
    width: 100%;
    max-width: 400px;
    height: auto;
    flex-wrap: wrap;
    padding:  15px;
    margin: 20px auto;
    gap: 6px;
}
.campo {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.campo label {
    font-weight: 600;
    color: #0f172a;
}

.campo input, 
.campo textarea{
    padding: 10px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.titulo {
    color: #ffffff;
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 700;
}

.titulo2 {
    color: #0a557a;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 10px;
}
.titulo3{
    color: #0a4985;
    font-size: 20px;
    margin-bottom: 10px;
}

.letras {
    color: #1e293b;
    font-size: 18px;
    line-height: 1.6;
}

.letras2 {
    color: #383b3f;
    font-size: 15px;
    line-height: 1.5;
}

.boton1 {
    background-color: #aaacad;
    color: #022668;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 600; 
    border: none;
    border-radius: 8px;
    display: inline-block;
}
.pie-pagina {
    background-color: #0f172a;
    color: #94a3b8;
    text-align: center;
    padding: 15px 20px;
    font-size: 0.9rem;
    border-top: 1px solid #1e293b;
}
